body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    transition: background-color 0.25s ease, color 0.25s ease;
}

body.light {
    --color-grey: #293b49;
    --color-white: #ffffff;
    background: #ffffff;
    color: var(--color-grey);
}

body.dark {
    --color-grey: #ffffff;
    --color-white: #333333;
    background: #121212;
    color: var(--color-grey);
}

html,
body {
    height: 100%;
    margin: 0;
}



body {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    color: var(--color-grey);
}

main {
    flex: 1;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.error {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.number {
    font-weight: 900;
    font-size: 15rem;
    line-height: 1;
}

.illustration {
    position: relative;
    width: 12.2rem;
    margin: 0 2.1rem;
}

.circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 12.2rem;
    height: 11.4rem;
    border-radius: 50%;
    background-color: var(--color-grey);
}

.clip {
    position: absolute;
    bottom: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    width: 12.5rem;
    height: 13rem;
    border-radius: 0 0 50% 50%;
}

.paper {
    position: absolute;
    bottom: -0.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 9.2rem;
    height: 12.4rem;
    border: 0.3rem solid var(--color-grey);
    background-color: var(--color-white);
    border-radius: 0.8rem;
}

.paper::before {
    content: "";
    position: absolute;
    top: -0.7rem;
    right: -0.7rem;
    width: 1.4rem;
    height: 1rem;
    background-color: var(--color-white);
    border-bottom: 0.3rem solid var(--color-grey);
    transform: rotate(45deg);
}

.face {
    position: relative;
    margin-top: 2.3rem;
}

.eyes {
    position: absolute;
    top: 0;
    left: 2.4rem;
    width: 4.6rem;
    height: 0.8rem;
}

.eye {
    position: absolute;
    bottom: 0;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: var(--color-grey);
    animation-name: eye;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.eye-left {
    left: 0;
}

.eye-right {
    right: 0;
}

@keyframes eye {

    0%,
    50%,
    100% {
        height: 0.8rem;
    }

    52% {
        height: 0.1rem;
    }

    54% {
        height: 0.8rem;
    }
}

.rosyCheeks {
    position: absolute;
    top: 1.6rem;
    width: 1rem;
    height: 0.2rem;
    border-radius: 50%;
    background-color: #fdabaf;
}

.rosyCheeks-left {
    left: 1.4rem;
}

.rosyCheeks-right {
    right: 1.4rem;
}

.mouth {
    position: absolute;
    top: 3.1rem;
    left: 50%;
    width: 1.6rem;
    height: 0.2rem;
    border-radius: 0.1rem;
    transform: translateX(-50%);
    background-color: var(--color-grey);
}

.text {
    margin-top: 5rem;
    font-weight: 300;
    color: var(--color-grey);
}

.button {
    margin-top: 4rem;
    padding: 1.2rem 3rem;
    color: white;
    background-color: #04cba0;
    text-decoration: none;
    text-align: center;
}

.button:hover {
    background-color: #01ac88;
}

#typewriter {
    display: inline;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}