name: Go Tests and Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test and Build
    runs-on: ubuntu-latest
    

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go 
        uses: actions/setup-go@v5
        with:
          cache: true # Caches Go modules for faster runs

      - name: Download Go modules
        # This will download all dependencies listed in go.mod
        run: go mod download

      - name: Run Tests
        # Runs all tests in the module, excluding files with build tags
        run: go test -v ./...
        
      - name: Check Build
        # Ensures the application can be successfully compiled
        run: go build -v ./...